@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #bfdded;
  color: black;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Fuente importada de google font */
@font-face {
  font-family: "DevilCandle";
  src: url(/assets/fonts/DevilCandle.otf);
}
#top {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.cabecera {
  display: flex;
  background-color: #1c1f34;
  border: solid 10px #1c1f34;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cabecera a {
  width: 25%;
  height: 3.8rem;
}
.cabecera a .logo {
  width: 100%;
  border-radius: 2rem;
}
.cabecera nav {
  width: 75%;
  height: 50px;
  display: flex;
  padding: 5px;
  align-items: start;
  justify-content: end;
}
.cabecera nav .itemNav {
  display: inline-block;
  padding: 15px 43px;
  font-family: "DevilCandle";
  font-size: 22px;
  font-weight: 300;
}
.cabecera nav .itemNav a {
  text-decoration: none;
  color: white;
}
.cabecera nav .itemNav a:hover {
  background: linear-gradient(40deg, rgb(184, 125, 235) 37%, rgb(139, 160, 231) 81%);
  background-clip: text; /* Aplica el fondo de gradiente al texto */
  -webkit-background-clip: text; /* Para navegadores basados en WebKit (Chrome, Safari) */
  color: transparent; /* Hace el texto transparente para mostrar el fondo de gradiente */
}
.cabecera nav #checkMenuu {
  display: none;
}
.cabecera nav i {
  font-size: 3em;
  color: white;
  display: none;
}

.footer {
  background-color: #1c1f34;
  display: flex;
  margin-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 95vh;
  justify-content: space-between;
  justify-items: center;
}
.footer .footerNav {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 90vh;
  justify-content: center;
}
.footer .footerNav .itemFooterNav {
  font-family: "DevilCandle";
  font-size: 390%;
  margin: 9% 3%;
}
.footer .footerNav ul {
  list-style: none;
}
.footer .footerNav ul a {
  text-decoration: none;
  color: white;
}
.footer .footerNav ul a:hover {
  background: linear-gradient(40deg, rgb(184, 125, 235) 37%, rgb(139, 160, 231) 81%);
  background-clip: text; /* Aplica el fondo de gradiente al texto */
  -webkit-background-clip: text; /* Para navegadores basados en WebKit (Chrome, Safari) */
  color: transparent; /* Hace el texto transparente para mostrar el fondo de gradiente */
  padding-left: 4%;
}
.footer .newsletter {
  display: flex;
  width: 50%;
  margin-right: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.footer .newsletter h2 {
  text-align: center;
  font-size: 4em;
  font-style: italic;
  color: white;
}
.footer .newsletter input {
  background-color: #bfdded;
}
.footer .newsletter .footerP {
  color: white;
  font-size: 21px;
  text-align: center;
}
.footer .newsletter .contactBotoncitos {
  width: 50%;
}
.footer .newsletter .contactBotoncitos button {
  color: black;
  background: #bfdded;
}
.footer .newsletter .contactBotoncitos button:hover {
  background: #8ba0e7;
  color: white;
}

.errorSec {
  height: 91.7vh;
  background-color: #515a87;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2.5%;
}
.errorSec h1, .errorSec .secGaleria h2, .secGaleria .errorSec h2 {
  font-size: 5.3em;
  text-align: center;
  margin-bottom: 40px;
  color: #1c1f34;
}
.errorSec p {
  padding: 1em;
  padding-top: 1em;
  font-size: 2em;
  height: 19vh;
}
.errorSec a {
  text-decoration: none;
  color: black;
  background-color: #bfdded;
  border-radius: 2rem;
  padding: 1%;
  border: solid 1px white;
  margin-left: 36%;
}

.contenedorGrande, .contenedorGrande .imgBackground {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-right: solid 10px #1c1f34;
}
.contenedorGrande .imgBackground {
  justify-content: center;
  width: 100%;
  height: 78.9rem;
  background-size: contain;
  background-image: url("../assets/images/imagineDragonsConcert.jpg");
  background-repeat: no-repeat;
  border: none;
}
.contenedorGrande .imgBackground .boxBiog {
  width: 55%;
  height: 85vh;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.711);
}
.contenedorGrande .imgBackground .boxBiog #titleBio {
  font-size: 250%;
  font-family: "DevilCandle";
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.contenedorGrande .imgBackground .boxBiog .biog {
  font-size: 21px;
  margin: 0px 15px 15px;
  color: black;
}
.contenedorGrande .imgBackground .boxBiog .biog a {
  color: #8ba0e7;
}
.contenedorGrande .imgBackground .boxBiog .biog a:hover {
  cursor: pointer;
  color: rgb(184, 125, 235);
}
.contenedorGrande .imgBackground .boxBiog .biog .cursiva {
  font-style: italic;
}
.contenedorGrande .imgBackground .boxBiog .biog .negrita {
  font-weight: 600;
}

.sectionss {
  background-color: #120907;
  margin-top: 0px;
  height: auto;
  margin-bottom: 0px;
}
.sectionss .titleSections {
  display: flex;
  width: 100%;
  height: 100px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 350%;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #120907;
  justify-content: center;
  background-color: #515a87;
}
.sectionss .imagenContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.sectionss .imagenContenedor a {
  text-decoration: none;
  margin: 50px 80px 50px 50px;
}
.sectionss .imagenContenedor a:hover {
  transform: scale(1.15);
}
.sectionss .imagenContenedor a h6 {
  text-align: center;
  font-size: 2rem;
  background: #bfdded;
  color: #1c1f34;
}
.sectionss .imagenContenedor a img {
  width: 310px;
  height: auto;
  opacity: 0.85;
}
.sectionss .imagenContenedor a img:hover {
  opacity: 1;
}

.contenidoIntegrantes {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #120907;
}
.contenidoIntegrantes h1, .contenidoIntegrantes .secGaleria h2, .secGaleria .contenidoIntegrantes h2 {
  font-size: 300%;
  font-family: "DevilCandle";
  text-align: center;
  padding: 1rem;
  color: #bfdded;
}
.contenidoIntegrantes .integrantesBios div {
  align-items: center;
  justify-content: space-between;
}
.contenidoIntegrantes .integrantesBios .danReynolds, .contenidoIntegrantes .integrantesBios .benMcKee {
  display: grid;
  grid-template-columns: 8fr 3fr;
  font-size: 23px;
  background-color: #515a87;
  justify-items: end;
}
.contenidoIntegrantes .integrantesBios .danReynolds p, .contenidoIntegrantes .integrantesBios .benMcKee p {
  padding-left: 30px;
  padding-right: 0px;
}
.contenidoIntegrantes .integrantesBios .benMcKee {
  grid-template-columns: 8fr 2fr;
}
.contenidoIntegrantes .integrantesBios .wayneSermon, .contenidoIntegrantes .integrantesBios .danielPlatzman {
  display: grid;
  grid-template-columns: 3fr 8fr;
  font-size: 23px;
  background-color: #8ba0e7;
}
.contenidoIntegrantes .integrantesBios .wayneSermon p, .contenidoIntegrantes .integrantesBios .danielPlatzman p {
  padding-right: 20px;
  padding-left: 0px;
}
.contenidoIntegrantes .integrantesBios .danielPlatzman {
  grid-template-columns: 2fr 8fr;
}
.contenidoIntegrantes .integrantesBios .danielPlatzman p {
  padding-right: 50px;
}
.contenidoIntegrantes .integrantesBios img {
  display: flex;
  height: 43vh;
}

.contenidoDiscografia {
  background-color: #8ba0e7;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contenidoDiscografia .discoHead {
  width: 100%;
  height: 34vh;
}
.contenidoDiscografia .discoHead h1, .contenidoDiscografia .discoHead .secGaleria h2, .secGaleria .contenidoDiscografia .discoHead h2 {
  font-size: 5em;
  font-family: "DevilCandle";
  text-align: center;
  align-items: center;
  padding: 1rem;
  color: black;
}
.contenidoDiscografia .discoHead p {
  display: inline-block;
  font-size: 2em;
  margin-left: 10%;
  margin-top: 1em;
}
.contenidoDiscografia .discoHead a {
  margin: 1.7rem;
  position: relative;
  top: -115px;
  right: 0px;
}
.contenidoDiscografia .discoHead a img:hover {
  transform: scale(1.15) skew(-3deg);
}
.contenidoDiscografia .secDiscos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170vh;
}
.contenidoDiscografia .secDiscos iframe {
  width: 40em;
  height: 50vh;
  padding: 1em;
  margin: 2em;
}

.secGaleria {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 200vh;
  background-color: #8ba0e7;
}
.secGaleria h1, .secGaleria h2 {
  font-size: 5rem;
  font-family: "DevilCandle";
  text-align: center;
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
}
.secGaleria p {
  font-size: 1.8rem;
}
.secGaleria p a {
  color: #1c1f34;
  font-style: italic;
}
.secGaleria p a:hover {
  color: rgb(184, 125, 235);
  font-weight: bold;
}
.secGaleria .contenidoMultimedia {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80vh;
}
.secGaleria .contenidoMultimedia .instas {
  width: 35%;
}
.secGaleria .contenidoMultimedia .instas ul {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: start;
  list-style-type: none;
  flex-direction: column;
}
.secGaleria .contenidoMultimedia .instas ul li {
  margin-top: 45px;
}
.secGaleria .contenidoMultimedia .instas ul li:hover {
  border-radius: 50px;
  transform: scale(1.15) translate(40px);
  background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(184, 125, 235) 100%);
}
.secGaleria .contenidoMultimedia .instas ul li a {
  text-decoration: none;
}
.secGaleria .contenidoMultimedia .instas ul li a span {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
}
.secGaleria .contenidoMultimedia .contenedorCarrusel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 500px;
  height: 500px;
  margin-top: 100px;
}
.secGaleria .contenidoMultimedia .grillaGaleria {
  border: 3px solid black;
  background-color: yellow;
}
.secGaleria h2 {
  font-size: 3rem;
}
.secGaleria .tiktoks {
  display: flex;
  justify-content: space-between;
}
.secGaleria .tiktoks div {
  margin-left: 45px;
  margin-right: 45px;
}
.secGaleria .mobileTT {
  display: none;
}

.container-fluid {
  padding: 0;
}
.container-fluid .secForm {
  display: flex;
  align-items: start;
  background-color: #8ba0e7;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.container-fluid .secForm .secFormText {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 43%;
  margin-left: 5%;
  margin-top: 5%;
  color: #120907;
}
.container-fluid .secForm .secFormText h1, .container-fluid .secForm .secFormText .secGaleria h2, .secGaleria .container-fluid .secForm .secFormText h2 {
  font-size: 5.3em;
  font-family: "DevilCandle";
  text-align: center;
  margin-bottom: 40px;
  color: #1c1f34;
}
.container-fluid .secForm .secFormText p {
  padding: 1em;
  padding-top: 1em;
  font-size: 1.4em;
  height: 19vh;
}
.container-fluid .secForm .ayudanos {
  padding-right: 10%;
  width: 35%;
  margin-top: 5%;
}
.container-fluid .secForm .ayudanos .form-control {
  height: 60px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.container-fluid .secForm .ayudanos label {
  font-weight: bold;
  color: #120907;
}
.container-fluid .secForm .ayudanos input {
  background-color: #bfdded;
  font-size: 1.1rem;
}
.container-fluid .secForm .ayudanos textarea {
  background-color: #bfdded;
  font-size: 1.2rem;
}
.container-fluid .secForm .ayudanos .contactBotoncitos {
  width: 100%;
}
.container-fluid .secForm .ayudanos .contactBotoncitos button {
  background-color: #515a87;
  color: #120907;
}
.container-fluid .secForm .ayudanos .contactBotoncitos button:hover {
  background-color: #bfdded;
}
.container-fluid .secForm .ayudanos #op textarea {
  height: 260px;
}

/*INICIO DEL HEADER */
/* MENU MOBILE */
@media (max-width: 768px) {
  .cabecera {
    width: 100%;
    display: flex;
  }
  .cabecera .logo {
    width: 50%;
  }
  .cabecera nav .navegacionNav {
    display: none;
  }
  .cabecera nav i {
    display: flex;
  }
  .cabecera nav #checkMenuu:checked ~ .navegacionNav {
    display: flex;
    background: #1c1f34;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 80px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  /*FIN DEL HEADER */
  /*__________________________________________________ */
  /* INICIO DEL FOOTER */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 200vh;
  }
  .footer .footerNav {
    display: flex;
    align-items: start;
    justify-content: start;
    align-content: start;
    width: 100%;
    height: 95vh;
    font-size: 0.45rem;
  }
  .footer .footerNav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 0;
  }
  .footer .footerNav ul .itemFooterNav {
    display: flex;
    align-self: start;
    justify-self: start;
    margin-top: 50px;
    margin-bottom: 30px;
    margin: 60px 0 30px 30px;
  }
  .footer .newsletter {
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: start;
    justify-items: start;
    flex-direction: column;
  }
  .footer .newsletter .mb-3 {
    width: 95%;
    margin-left: 2.5%;
  }
  /*FIN DEL FOOTER */
  /*__________________________________________________ */
  /* INICIO DE PAGINA INICIO */
  .contenedorGrande, .contenedorGrande .imgBackground {
    width: 100%;
    height: 260vh;
    border: none;
  }
  .contenedorGrande .imgBackground {
    background-color: #8ba0e7;
  }
  .contenedorGrande .imgBackground .boxBiog {
    height: 280vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 12%;
  }
  .contenedorGrande .imgBackground .boxBiog #titleBio {
    background-color: #bfdded;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 8%;
  }
  .contenedorGrande .imgBackground .boxBiog .biog {
    font-size: 1.2rem;
  }
  .contenedorGrande .imgBackground .boxBiog .biog a {
    color: #bfdded;
    font-weight: 300;
  }
  /* FIN DE PAGINA INICIO */
  /*__________________________________________________ */
  /* INICIO DE PAGINA INTEGRANTES */
  .contenidoIntegrantes {
    width: 100%;
  }
  .contenidoIntegrantes .integrantesBios {
    width: 100%;
    flex-direction: column;
  }
  .contenidoIntegrantes .integrantesBios .danReynolds, .contenidoIntegrantes .integrantesBios .benMcKee {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.15rem;
    margin: 0%;
  }
  .contenidoIntegrantes .integrantesBios .danReynolds p, .contenidoIntegrantes .integrantesBios .benMcKee p {
    margin: 2%;
    padding: 0;
  }
  .contenidoIntegrantes .integrantesBios .wayneSermon, .contenidoIntegrantes .integrantesBios .danielPlatzman {
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    margin: 0%;
  }
  .contenidoIntegrantes .integrantesBios .wayneSermon p, .contenidoIntegrantes .integrantesBios .danielPlatzman p {
    margin: 2%;
    padding: 0;
  }
  /* FIN DE PAGINA INTEGRANTES */
  /*__________________________________________________ */
  /* INICIO DE PAGINA DISCOGRAFIA */
  .contenidoDiscografia {
    width: 100%;
    height: 350vh;
  }
  .contenidoDiscografia .discoHead h1, .contenidoDiscografia .discoHead .secGaleria h2, .secGaleria .contenidoDiscografia .discoHead h2 {
    font-size: 3.5rem;
  }
  .contenidoDiscografia .discoHead p {
    font-size: 1.25rem;
  }
  .contenidoDiscografia .discoHead a {
    display: inline-block;
    width: 20%;
    margin: 0;
    margin-left: 20%;
    padding: 0;
    position: initial;
  }
  .contenidoDiscografia .discoHead a img {
    width: 55px;
  }
  .contenidoDiscografia .secDiscos {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 10vh;
  }
  .contenidoDiscografia .secDiscos iframe {
    width: 90%;
    height: 360px;
    margin: 0 0 8vh 2%;
    padding: 0;
    margin-bottom: 10vh;
  }
  /* FIN DE PAGINA DISCOGRAFIA */
  /*__________________________________________________ */
  /* INICIO DE PAGINA GALERIA */
  .secGaleria {
    height: 285vh;
  }
  .secGaleria h1, .secGaleria h2 {
    font-size: 4rem;
    margin: 0;
  }
  .secGaleria p {
    font-size: 1.5rem;
    margin: 2%;
    text-align: center;
  }
  .secGaleria .contenidoMultimedia {
    width: 100%;
    height: 190vh;
    display: flex;
    margin-top: 15%;
    flex-direction: column-reverse;
  }
  .secGaleria .contenidoMultimedia .contenedorCarrusel {
    width: 100%;
    margin: 0;
  }
  .secGaleria .contenidoMultimedia .instas {
    width: 100%;
    margin-bottom: 5vh;
  }
  .secGaleria .contenidoMultimedia .instas h2 {
    font-size: 2.5rem;
    width: 100%;
  }
  .secGaleria .contenidoMultimedia .instas ul {
    width: 100%;
  }
  .secGaleria .tiktoks {
    display: none;
  }
  .secGaleria .mobileTT {
    display: flex;
  }
  /* FIN DE PAGINA GALERIA */
  /*__________________________________________________ */
  /* INICIO DE PAGINA CONTACTO */
  .container-fluid .secForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 170vh;
  }
  .container-fluid .secForm .secFormText {
    display: flex;
    align-content: center;
    width: 100%;
    font-size: 0.8rem;
    margin-left: 0;
    padding-left: 0;
  }
  .container-fluid .secForm .secFormText .tituloContacto {
    width: 100%;
    height: auto;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 0;
  }
  .container-fluid .secForm .secFormText p {
    padding: 1em;
    padding-top: 1em;
    font-size: 1.4em;
    height: 19vh;
    text-align: start;
  }
  .container-fluid .secForm .ayudanos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    width: 100%;
    align-items: center;
  }
  .container-fluid .secForm .ayudanos .mb-3 {
    width: 90%;
  }
  .container-fluid .secForm .ayudanos .querieAyuda {
    position: relative;
    top: 50px;
    padding: 0;
    margin: 0;
  }
  .container-fluid .secForm .ayudanos .form-floating {
    display: flex;
    width: 90%;
    padding-top: 0;
    height: 30vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .container-fluid .secForm .ayudanos .contactBotoncitos {
    margin-top: 7%;
    width: 90%;
  }
  .container-fluid .secForm #floatingTextarea {
    margin-top: -50px;
    padding-top: 0;
  }
  /* FIN DE PAGINA CONTACTO */
}
/*__________________________________________________ */

/*# sourceMappingURL=style.css.map */
