/* reset */
*{
    margin: 0;
    padding: 0;
}
/* Importar fuentes de google font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Fuente de carpeta fonts */
@font-face {
    font-family: "DevilCandle";
    src: url(../assets/fonts/devilCandle.otf);
}
body {
    font-family: 'Ubuntu', sans-serif;
}

/* Inicio del Header */
#top {
    display: flex;
    position: sticky;
    top: 0; 
    z-index: 10;
}

.cabecera {
    display: flex;
    background-color: #1c1f34;
    border: solid  10px #1c1f34;
    height: 5em;
    justify-content:space-between ;
    align-items: center;
}
.logo {
    width: 25%;
    border-radius: 2rem;
}
/* NAV HEADER */
header nav {
    width: 75%;
    height: 50px;
    display: flex;
    padding: 5px;   
    align-items: start;
    justify-content: end;
}

header nav .itemNav {
    display: inline-block;
    padding: 15px 43px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.navegacionNav li a{
    text-decoration:none;
    color: white;
}
/* FIN DEL HEADER */

/* -------------EMPIEZA EL FOOTER -------------*/
.footer {
    background-color: #1c1f34; 
    display: flex;
    margin-top: 0px; 
    padding-bottom: 0px;
    width: 100%;
    height: 95vh;
    justify-content: space-between;
    justify-items: center;
    

}

/*------------- Empieza Footer's Nav-------------*/
.footerNav {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 90vh;
    justify-content: end;
}

.itemFooterNav {
    font-family: "DevilCandle";
    font-size: 390%;
    margin: 35px 70px 29px ;
}
.footerNav ul {
    list-style: none;
}

.footerNav ul li a {
    text-decoration:none;
    color: white;
}
/*------------- Termina Footer's Nav-------------*/

/*------------- Comienza el newsletter-------------*/

.newsletter {
    display: flex;
    width: 50%;
    margin-right: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.newsletter h2{
    text-align: center;
    font-size: 4em;
    font-style: italic;
    color: white;
}

.newsletter .footerP {
    color: white;
    font-size: 21px;
    text-align: center;
}
.newsletter .contactBotoncitos {
    width: 50%;
}
/* -------------TERMINA EL FOOTER -------------*/


/* -------------INICIA EL CONTENIDO -------------*/
/* INDEX: */ /* INDEX: */ /* INDEX: */ /* INDEX: */ /* INDEX: */
.imgBackground {
    display: flex;
    justify-content: center;
    width: 100%;
    height:79rem;
    background-size: contain;
    background-image: url("../assets/images/imagineDragonsConcert.jpg");
    background-repeat: no-repeat;
}
.boxBiog{
    width: 45%;
    height: 100vh;
    display:flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.655);

}
#titleBio {
    font-size: 250%;
    font-family: "DevilCandle";
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.biog {
    font-size: 21px;
    margin: 0px 15px 15px;
    color: black;
}

/* EMPIEZA LA SECCION DE SECCIONES */
.sectionss {
    background-color: black;
    margin-top: 0px;
    height: auto;
    margin-bottom: 0px;
}

.titleSections {
    display: flex;
    width: 100%;
    height: 100px;
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 350%;
    padding-top: 30px;
    margin-bottom: 30px;
    color: #120907;
    justify-content:center ;
    background-color: #515a87;

}

.imagen-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.imagen-contenedor a {
    text-decoration: none;
    margin: 50px 120px 50px 50px;
}

.imagen-contenedor a h6 {
    text-align: center;
    font-size: 2rem;
    background: #bfdded;
    color: #1c1f34;
}

.imagen-contenedor img {
    width: 310px;
    height: auto; 
}
/* INDEX: */ /* INDEX: */ /* INDEX: */ /* INDEX: */ /* INDEX: */
/* TERMINA EL CONTENIDO DEL INDEX */



/* EMPIEZA EL CONTENIDO DE INTEGRANTES */
/* INTEGRANTES: */ /* INTEGRANTES: */ /* INTEGRANTES: */ /* INTEGRANTES: */
.contenidoIntegrantes {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.integrantesBios {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, 200px);
    background-color: yellow;
    overflow:scroll;

}
/* .integrantesBios p {
    
} */
.integrantesBios div {
    
    width: 100%;
    background-color: yellowgreen;
    border: 1px solid;
}












/* EMPIEZA EL CONTACTO */
.secForm {
    display: flex;
    align-items: start;
    background-color: #bfdded;
    background-color: #8ba0e7;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.secFormText {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    color: #120907;
}
.secFormText h1 {
    font-size: 4em;
    font-family: "DevilCandle";
    text-align: center;
    margin-bottom: 40px;
    color: #1c1f34;
}
.container-fluid { 
    padding: 0;
}
.form-floating .form-control {
    height: 200px;
    margin-bottom: 50px;
    margin-top: 40px;

}
.ayudanos {
    padding-right: 10%;
    width: 35%;
    margin-top: 10%;
}
.ayudanos div label {
    font-weight: bold;
    color:  #1c1f34;
}
.contactBotoncitos {
    width: 100%;
}
.contactBotoncitos button {
    background-color:#bfdded;
    color: #120907;
}
/* FIN DEL CONTACTO */






