@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #bfdded;
  color: black;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Importar fuentes de google font */
@font-face {
  font-family: "DevilCandle";
  src: url(../assets/fonts/devilCandle.otf);
}
#top {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.cabecera {
  display: flex;
  background-color: #1c1f34;
  border: solid 10px #1c1f34;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cabecera .logo {
  width: 25%;
  border-radius: 2rem;
}
.cabecera nav {
  width: 75%;
  height: 50px;
  display: flex;
  padding: 5px;
  align-items: start;
  justify-content: end;
}
.cabecera nav .itemNav {
  display: inline-block;
  padding: 15px 43px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.cabecera nav .itemNav a {
  text-decoration: none;
  color: white;
}
.cabecera nav .itemNav a:hover {
  color: rgb(184, 125, 235);
}
.cabecera nav #checkMenuu {
  display: none;
}
.cabecera nav i {
  font-size: 3em;
  color: white;
}

.footer {
  background-color: #1c1f34;
  display: flex;
  margin-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 95vh;
  justify-content: space-between;
  justify-items: center;
}
.footer .footerNav {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 90vh;
  justify-content: center;
}
.footer .footerNav .itemFooterNav {
  font-family: "DevilCandle";
  font-size: 390%;
  margin: 9% 3%;
}
.footer .footerNav ul {
  list-style: none;
}
.footer .footerNav ul a {
  text-decoration: none;
  color: white;
}
.footer .footerNav ul a:hover {
  color: rgb(184, 125, 235);
}
.footer .newsletter {
  display: flex;
  width: 50%;
  margin-right: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.footer .newsletter h2 {
  text-align: center;
  font-size: 4em;
  font-style: italic;
  color: white;
}
.footer .newsletter input {
  background-color: #bfdded;
}
.footer .newsletter .footerP {
  color: white;
  font-size: 21px;
  text-align: center;
}
.footer .newsletter .contactBotoncitos {
  width: 50%;
}

.contenedorGrande, .contenedorGrande .imgBackground {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-right: solid 10px #1c1f34;
}
.contenedorGrande .imgBackground {
  justify-content: center;
  width: 100%;
  height: 78.9rem;
  background-size: contain;
  background-image: url("../assets/images/imagineDragonsConcert.jpg");
  background-repeat: no-repeat;
  border: none;
}
.contenedorGrande .imgBackground .boxBiog {
  width: 45%;
  height: 100vh;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.655);
}
.contenedorGrande .imgBackground .boxBiog #titleBio {
  font-size: 250%;
  font-family: "DevilCandle";
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.contenedorGrande .imgBackground .boxBiog .biog {
  font-size: 21px;
  margin: 0px 15px 15px;
  color: black;
}
.contenedorGrande .imgBackground .boxBiog a {
  color: #8ba0e7;
}
.contenedorGrande .imgBackground .boxBiog a:hover {
  cursor: pointer;
  color: rgb(184, 125, 235);
}

.sectionss {
  background-color: #120907;
  margin-top: 0px;
  height: auto;
  margin-bottom: 0px;
}
.sectionss .titleSections {
  display: flex;
  width: 100%;
  height: 100px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 350%;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #120907;
  justify-content: center;
  background-color: #515a87;
}
.sectionss .imagenContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.sectionss .imagenContenedor a {
  text-decoration: none;
  margin: 50px 120px 50px 50px;
}
.sectionss .imagenContenedor a:hover {
  transform: scale(1.15);
}
.sectionss .imagenContenedor a h6 {
  text-align: center;
  font-size: 2rem;
  background: #bfdded;
  color: #1c1f34;
}
.sectionss .imagenContenedor a img {
  width: 310px;
  height: auto;
  opacity: 0.85;
}
.sectionss .imagenContenedor a img:hover {
  opacity: 1;
}

.contenidoIntegrantes {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #120907;
}
.contenidoIntegrantes h1, .contenidoIntegrantes .secGaleria h2, .secGaleria .contenidoIntegrantes h2 {
  font-size: 300%;
  font-family: "DevilCandle";
  text-align: center;
  padding: 1rem;
  color: #bfdded;
}
.contenidoIntegrantes .integrantesBios div {
  align-items: center;
  justify-content: space-between;
}
.contenidoIntegrantes .integrantesBios .danReynolds, .contenidoIntegrantes .integrantesBios .benMcKee {
  display: grid;
  grid-template-columns: 8fr 3fr;
  font-size: 23px;
  background-color: #515a87;
  justify-items: end;
}
.contenidoIntegrantes .integrantesBios .danReynolds p, .contenidoIntegrantes .integrantesBios .benMcKee p {
  padding-left: 30px;
  padding-right: 0px;
}
.contenidoIntegrantes .integrantesBios .benMcKee {
  grid-template-columns: 8fr 2fr;
}
.contenidoIntegrantes .integrantesBios .wayneSermon, .contenidoIntegrantes .integrantesBios .danielPlatzman {
  display: grid;
  grid-template-columns: 3fr 8fr;
  font-size: 23px;
  background-color: #8ba0e7;
}
.contenidoIntegrantes .integrantesBios .wayneSermon p, .contenidoIntegrantes .integrantesBios .danielPlatzman p {
  padding-right: 20px;
  padding-left: 0px;
}
.contenidoIntegrantes .integrantesBios .danielPlatzman {
  grid-template-columns: 2fr 8fr;
}
.contenidoIntegrantes .integrantesBios .danielPlatzman p {
  padding-right: 50px;
}
.contenidoIntegrantes .integrantesBios img {
  display: flex;
  height: 43vh;
}

.contenidoDiscografia {
  background-color: #8ba0e7;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contenidoDiscografia .discoHead {
  width: 100%;
  height: 34vh;
}
.contenidoDiscografia .discoHead h1, .contenidoDiscografia .discoHead .secGaleria h2, .secGaleria .contenidoDiscografia .discoHead h2 {
  font-size: 5em;
  font-family: "DevilCandle";
  text-align: center;
  align-items: center;
  padding: 1rem;
  color: black;
}
.contenidoDiscografia .discoHead p {
  display: inline-block;
  font-size: 2em;
  margin-left: 10%;
  margin-top: 1em;
}
.contenidoDiscografia .discoHead a {
  margin: 1.7rem;
  position: relative;
  top: -115px;
  right: 0px;
}
.contenidoDiscografia .discoHead a img:hover {
  transform: scale(1.15) skew(-3deg);
}
.contenidoDiscografia .secDiscos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170vh;
}
.contenidoDiscografia .secDiscos iframe {
  width: 40em;
  height: 50vh;
  padding: 1em;
  margin: 2em;
}

.secGaleria {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 200vh;
  background-color: #8ba0e7;
}
.secGaleria h1, .secGaleria h2 {
  font-size: 5em;
  font-family: "DevilCandle";
  text-align: center;
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
}
.secGaleria .contenidoMultimedia {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80vh;
}
.secGaleria .contenidoMultimedia .contenedorCarrusel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 500px;
  height: 500px;
  margin-top: 100px;
}
.secGaleria .contenidoMultimedia .grillaGaleria {
  border: 3px solid black;
  background-color: yellow;
}
.secGaleria h2 {
  font-size: 3rem;
}
.secGaleria .tiktoks {
  display: flex;
  justify-content: space-between;
}
.secGaleria .tiktoks div {
  margin-left: 45px;
  margin-right: 45px;
}

.container-fluid {
  padding: 0;
}
.container-fluid .secForm {
  display: flex;
  align-items: start;
  background-color: #8ba0e7;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.container-fluid .secForm .secFormText {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 43%;
  margin-left: 5%;
  margin-top: 5%;
  color: #120907;
}
.container-fluid .secForm .secFormText h1, .container-fluid .secForm .secFormText .secGaleria h2, .secGaleria .container-fluid .secForm .secFormText h2 {
  font-size: 5.3em;
  font-family: "DevilCandle";
  text-align: center;
  margin-bottom: 40px;
  color: #1c1f34;
}
.container-fluid .secForm .secFormText p {
  padding: 1em;
  padding-top: 1em;
  font-size: 1.4em;
  height: 19vh;
}
.container-fluid .secForm .ayudanos {
  padding-right: 10%;
  width: 35%;
  margin-top: 5%;
}
.container-fluid .secForm .ayudanos .form-control {
  height: 60px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.container-fluid .secForm .ayudanos label {
  font-weight: bold;
  color: #120907;
}
.container-fluid .secForm .ayudanos input {
  background-color: #bfdded;
  font-size: 1.1rem;
}
.container-fluid .secForm .ayudanos textarea {
  background-color: #bfdded;
  font-size: 1.2rem;
}
.container-fluid .secForm .ayudanos .contactBotoncitos {
  width: 100%;
}
.container-fluid .secForm .ayudanos .contactBotoncitos button {
  background-color: #bfdded;
  color: #120907;
}
.container-fluid .secForm .ayudanos .contactBotoncitos button:hover {
  background-color: #515a87;
}
.container-fluid .secForm .ayudanos #op textarea {
  height: 260px;
}

/*# sourceMappingURL=style.css.map */
