// sass --watch scss:css
.footer {
    background-color: #1c1f34; 
    display: flex;
    margin-top: 0px; 
    padding-bottom: 0px;
    width: 100%;
    height: 95vh;
    justify-content: space-between;
    justify-items: center;
    .footerNav {
        display: flex;
        flex-direction: column;
        width: 45rem;
        height: 90vh;
        justify-content: end;
        .itemFooterNav {
            font-family: "DevilCandle";
            font-size: 390%;
            margin: 35px 70px 29px ;
        }
        ul {
            list-style: none;
            a {
                text-decoration:none;
                color: white;
                &:hover {
                    color: #8ba0e7;
                }
            }
        }
    }
    .newsletter {
        display: flex;
        width: 50%;
        margin-right: 3%;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        h2{
            text-align: center;
            font-size: 4em;
            font-style: italic;
            color: white;
        }
        input {
            background-color: #bfdded;
        }
        .footerP {
            color: white;
            font-size: 21px;
            text-align: center;
        }
        .contactBotoncitos {
            width: 50%;
        }
    }
}