.footer {
    background-color: #1c1f34; 
    display: flex;
    margin-top: 0px; 
    padding-bottom: 0px;
    width: 100%;
    height: 95vh;
    justify-content: space-between;
    justify-items: center;
    .footerNav {
        display: flex;
        flex-direction: column;
        width: 45rem;
        height: 90vh;
        justify-content: center;
        .itemFooterNav {
            font-family: "DevilCandle";
            font-size: 390%;
            margin: 9% 3%;

        }
        ul {
            list-style: none;
            a {
                text-decoration:none;
                color: white;
                &:hover {
                    background: linear-gradient(40deg, rgba(184,125,235,1) 37%, rgba(139,160,231,1) 81%);
                    background-clip: text; /* Aplica el fondo de gradiente al texto */
                    -webkit-background-clip: text; /* Para navegadores basados en WebKit (Chrome, Safari) */
                    color: transparent; /* Hace el texto transparente para mostrar el fondo de gradiente */
                    padding-left: 4%;
                }
            }
        }
    }
    .newsletter {
        display: flex;
        width: 50%;
        margin-right: 3%;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        h2{
            text-align: center;
            font-size: 4em;
            font-style: italic;
            color: white;
        }
        input {
            background-color: $color5;
        }
        .footerP {
            color: white;
            font-size: 21px;
            text-align: center;
        }
        .contactBotoncitos {
            width: 50%;
            button {
                color: black;
                background: $color5;
            &:hover {
                background: $color4;
                color: white;
            }
            }
        }
    }
}