// Header
#top {
    display: flex;
    position: sticky;
    top: 0; 
    z-index: 10;
    width: 100%;
}
.cabecera {
    display: flex;
    background-color: #1c1f34;
    border: solid  10px #1c1f34;
    height: 5em;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    a {
        width: 25%;
        height: 3.8rem;
        .logo {
            width: 100%;
            border-radius: 2rem;
        }
    }
    // Nav Header
    nav {
        width: 75%;
        height: 50px;
        display: flex;
        padding: 5px;   
        align-items: start;
        justify-content: end;
        .itemNav {
            display: inline-block;
            padding: 15px 43px;
            font-family: "DevilCandle";
            font-size: 22px;
            font-weight: 300;
            a{
                text-decoration:none;
                color: white;
                &:hover{
                    background: linear-gradient(40deg, rgba(184,125,235,1) 37%, rgba(139,160,231,1) 81%);
                    background-clip: text; /* Aplica el fondo de gradiente al texto */
                    -webkit-background-clip: text; /* Para navegadores basados en WebKit (Chrome, Safari) */
                    color: transparent; /* Hace el texto transparente para mostrar el fondo de gradiente */
                }
            }
        }
        #checkMenuu {
            display: none;
            
        }
        i {
            font-size: 3em;
            color: white;
            display: none;
            
        }
    }
}