// Contacto //// Contacto //// Contacto //// Contacto //// Contacto //// Contacto //// Contacto //
.container-fluid {
    padding: 0;
    .secForm {
        display: flex;
        align-items: start;
        background-color: $color4;
        height: 100vh;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        .secFormText {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 43%;
            margin-left: 5%;
            margin-top: 5%;
            color: $color1;
            h1 {
                font-size: 5.3em;
                font-family: "DevilCandle";
                text-align: center;
                margin-bottom: 40px;
                color: $color2;
            }
            p {
                padding: 1em;
                padding-top: 1em;
                font-size: 1.40em;
                height: 19vh;
            }
        }
        .ayudanos {
            padding-right: 10%;
            width: 35%;
            margin-top: 5%;
            .form-control {
                height: 60px;
                margin-bottom: 50px;
                margin-top: 10px;
            }
            label {
                font-weight: bold;
                color: $color1;
            }
            input {
                background-color: $color5;
				font-size: 1.1rem;
            }
            textarea {
                background-color: $color5;
				font-size: 1.2rem;
            }
            .contactBotoncitos {
                width: 100%;
                button {
                    background-color: $color3;
                    color: $color1;
                    &:hover {
                        background-color: $color5;
                    }
                }
            }
			#op {
				textarea {
					height: 260px;
				}
			}
		}
    }
}
// Contacto //// Contacto //// Contacto //// Contacto //// Contacto //// Contacto //// Contacto //