// Integrantes //// Integrantes //// Integrantes //// Integrantes //// Integrantes //
.contenidoIntegrantes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #120907;
	h1 {
		font-size: 300%;
		font-family: "DevilCandle";
		text-align: center;
		padding: 1rem;
		color: #bfdded;
	}
	.integrantesBios {
		div {
		align-items: center;
		justify-content: space-between;
		}

		.danReynolds {
			display: grid;
			grid-template-columns: 8fr 3fr ;
			font-size: 23px;
			background-color: #515a87;
			justify-items: end;
			p {
				padding-left: 30px;
				padding-right: 0px;
			}
		}
		.benMcKee {
			@extend .danReynolds;
			grid-template-columns:8fr 2fr;
		} 
		.wayneSermon {
			display: grid;
			grid-template-columns: 3fr 8fr ;
			font-size: 23px;
			background-color: #8ba0e7;
			p {
			padding-right: 20px;
			padding-left: 0px;
			}
		}
		.danielPlatzman {
			@extend .wayneSermon;
			grid-template-columns: 2fr 8fr ;
			p {
				padding-right: 50px;
			}
		}
		img {
			display: flex;
			height: 43vh;
			}
	}
}
// Integrantes //// Integrantes //// Integrantes //// Integrantes //// Integrantes //